// Заказчики

.clients {
  .container {
      margin-bottom: 80px;
      padding: 44px 0;
      border-bottom: 2px solid $bg-grey;

      .clients__list {
          @include ul();
          display: flex;
          justify-content: space-around;
          align-items: center;

          .clients__item {
              padding: 0 45px;
              position: relative;

              &:not(:last-child)::after {
                  position: absolute;
                  content: "";
                  top: 50%;
                  right: 0;
                  transform: translate(0, -50%);
                  width: 2px;
                  height: 52px;
                  background-color: $bg-grey;
              }
          }

          .clients__link {
              opacity: 0.2;

              &:hover {
                  opacity: 1;
                  transition: 0.3 ease-in-out;
              }

              &:active {
                  opacity: 0.1;
                  transition: 0.3 ease-in-out;
              }
          }
      }
  }
}
