// @import "normalize.scss";
@import "header.scss";
@import "slider.scss";
@import "features.scss";
@import "about.scss";
@import "clients.scss";
@import "footer.scss";

// Переменные:

$black: #000000;
$white: #ffffff;
$bg-grey: #eeeeee;
$dark-grey: #666666;
$light-grey: #e1e1e1;
$medium-grey: #4d4d4d;
$wet-grey: #444444;
$red: #fb565a;
$green: #00ca74;
$yellow: #efc84a;
$navy: #283136;

$text: 16px;
$line: 24px;
$weight: 400;

$transition: color 0.2s ease-in-out;


// Миксины:

@mixin ul() {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin a() {
    display: block;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

@mixin field-reset() {
    margin: 0;
    padding: 0;
}

@mixin font() {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: $text;
    line-height: $line;
    font-weight: $weight;
}

@mixin bg-repeat() {
    background-repeat: no-repeat;
    background-position: center center;
}

@mixin button {
  font-size: $text;
  line-height: $line * 0.75;
  font-weight: $weight * 1.25;
  text-align: center;
  border-radius: 3px;
  background-color: $red;
  color: $white;
}


// Страница

* {
    box-sizing: border-box;
}

body {
    @include field-reset();
    @include font();
    min-width: 1440px;
    color: $navy;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.button {
    @include button();
}

