// @import "normalize.scss";
@import "variables.scss";
@import "mixins.scss";

@import "blocks/header.scss";
@import "blocks/slider.scss";
@import "blocks/features.scss";
@import "blocks/about.scss";
@import "blocks/clients.scss";
@import "blocks/footer.scss";


// Страница

* {
    box-sizing: border-box;
}

body {
    @include field-reset();
    @include font();
    min-width: 1440px;
    color: $navy;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.button {
    @include button();
}
