// Переменные:

$black: #000000;
$white: #ffffff;
$bg-grey: #eeeeee;
$dark-grey: #666666;
$light-grey: #e1e1e1;
$medium-grey: #4d4d4d;
$wet-grey: #444444;
$red: #fb565a;
$green: #00ca74;
$yellow: #efc84a;
$navy: #283136;

$text: 16px;
$line: 24px;
$weight: 400;

$transition: color 0.2s ease-in-out;
