// Преимущества

.features {
  .container {
      margin-top: 80px;
      border-bottom: 2px solid $bg-grey;

      .features__list {
          @include ul();
          padding-bottom: 80px;
          display: flex;
          justify-content: space-between;

          .features__item {
              width: 300px;
              display: flex;
              flex-direction: column;
              align-items: start;

              .features__header {
                  @include field-reset();
                  margin-top: 25px;
                  text-transform: uppercase;
                  color: $black;
                  font-size: 24px;
                  line-height: 30px;
                  font-weight: 700;
              }

              .features__text {
                  @include field-reset();
                  margin-top: 16px;
              }

              .features__link {
                  margin-top: 32px;
              }

              .button {
                  @include a();
                  color: $white;
                  padding: 14px 40px;

                  &--green {
                      background-color: $green;

                      &:hover {
                        background-color: darken($green, 10%);
                        transition: 0.3 ease-in-out;
                      }

                      &:active {
                          background-color: darken($green, 20%);
                          transition: 0.3 ease-in-out;
                      }
                  }

                  &--yellow {
                      background-color:  $yellow;

                      &:hover {
                        background-color: darken($yellow, 10%);
                        transition: 0.3 ease-in-out;
                      }

                      &:active {
                          background-color: darken($yellow, 20%);
                          transition: 0.3 ease-in-out;
                      }
                  }
              }
          }
      }
  }
}
