// Cлайдер

.slider {
  background-color: $bg-grey;

  .container {
      overflow: hidden;
      position: relative;

      .slider__input {
          display: none;
      }

      .slider__label {
          display: inline-block;
          position: absolute;
          top: 90%;
          z-index: 20;
          margin: auto;
          width: 20px;
          height: 20px;
          border: 5px solid $navy;
          border-radius: 50%;
          background-color: $white;
          margin: 0 5px;
          cursor: pointer;
      }

      .slider__label[for="slider-1"] {
          left: 47%;
      }

      .slider__label[for="slider-2"] {
          left: 50%;
      }

      .slider__label[for="slider-3"] {
          left: 53%;
      }

      #slider-1:checked ~ .slider__label[for="slider-1"],
      #slider-2:checked ~ .slider__label[for="slider-2"],
      #slider-3:checked ~ .slider__label[for="slider-3"] {
          background-color: $red;
      }

      #slider-1:checked ~ .slider__list {
          transform: translate(0);
      }

      #slider-2:checked ~ .slider__list {
          transform: translate(-1160px);
      }

      #slider-3:checked ~ .slider__list {
          transform: translate(-2320px);
      }

      .slider__list {
          @include ul();
          transition: transform 1s ease;
          width: 3480px;

          .slider__list-item {
              float: left;
              width: 1160px;
              min-height: 431px;

              .wrapper {
                  display: flex;
                  position: relative;

                  .text-wrapper {
                      display: flex;
                      flex-direction: column;
                      flex-basis: 600px;
                      flex-wrap: nowrap;
                      align-content: start;


                      .slider__list-title {
                          @include field-reset();
                          margin-top: 58px;
                          font-size: 55px;
                          line-height: 55px;
                          font-weight: 500;
                          color: $black;
                      }

                      .slider__list-text {
                          @include field-reset();
                          margin-top: 25px;
                          max-width: 400px;
                      }
                  }

                  .slider__list-img {
                      position: absolute;
                      top: 0;
                      right: 0;
                      z-index: -1;
                  }
              }
          }
      }

      .slider__button {
          @include a();
          color: $white;
          position: absolute;
          left: 20px;
          bottom: 50px;
          padding: 16px 54px;
          max-width: 380px;

          &:hover {
              box-shadow: inset 80px 80px 0px rgba(0, 1, 1, 0.1);
              transition: 0.3 ease-in-out;
          }

          &:active {
              box-shadow: inset 80px 80px 0px rgba(0, 1, 1, 0.2);
              transition: 0.3 ease-in-out;
          }
      }
  }
}
